---
- include_role:
    name: andrewrothstein.unarchive-deps
- include_role:
    name: andrewrothstein.bash
- include_role:
    name: andrewrothstein.temurin
- name: check for kafka installation in {{ kafka_install_dir }}
  become: true
  stat:
    path: '{{ kafka_install_dir }}'
  changed_when: false
  register: kafka_binary
- when: not kafka_binary.stat.exists
  block:
    - name: downloading {{ kafka_tgz_url }}
      become: true
      become_user: root
      get_url:
        url: '{{ kafka_tgz_url }}'
        dest: /tmp/{{ kafka_tgz }}
        mode: '0644'
        timeout: '{{ kafka_download_timeout_seconds }}'
        checksum: '{{ kafka_checksum }}'
    - name: mkdir {{ kafka_install_parent_dir }}
      become: true
      become_user: root
      file:
        path: '{{ kafka_install_parent_dir }}'
        state: directory
        mode: '0755'
    - name: unarchive {{ kafka_tmp_tgz }}
      become: true
      become_user: root
      unarchive:
        remote_src: true
        src: '{{ kafka_tmp_tgz }}'
        dest: '{{ kafka_install_parent_dir }}'
        creates: '{{ kafka_install_dir }}'
  always:
    - name: rm {{ kafka_tmp_tgz }}
      become: true
      become_user: root
      file:
        path: '{{ kafka_tmp_tgz }}'
        state: absent

- name: linking {{ kafka_install_link_dir }} to {{ kafka_install_dir }}
  become: true
  become_user: root
  file:
    src: '{{ kafka_install_dir }}'
    dest: '{{ kafka_install_link_dir }}'
    state: link

- name: include kafka in the default path
  become: true
  become_user: root
  with_items:
    - d: /etc/profile.d
      f: kafka.sh
  template:
    src: '{{ item.f }}.j2'
    dest: '{{ item.d }}/{{ item.f }}'
    mode: '{{ item.m|default("0644") }}'
